<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.MyAddressActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.AddAddressActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.CommentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.MyCommentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.MyBillActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.activity.MyFavoriteActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />


    </application>
</manifest>